<nav>
  <div class="wrapper nav-list">
    <a class="nav-item" routerLink="/manufacture" routerLinkActive="activeLink">
      <mat-icon>medication</mat-icon>
      <span> Vaccine Manufacturer Portal </span>
    </a>
    <a class="nav-item" routerLink="/patient" routerLinkActive="activeLink">
      <mat-icon>person_add_alt</mat-icon>
      <span>Recipient Portal</span>
    </a>
    <a class="nav-item" routerLink="/table" routerLinkActive="activeLink">
      <mat-icon >table_eye</mat-icon>
      <span>TABLE</span>
    </a>
  </div>
</nav>

<div class="wrapper">
  <router-outlet></router-outlet>
</div>
