<div *ngIf="expandedRow" class="expanded-row-container">
  <h3>
    <mat-icon class="custom-icon">account_circle</mat-icon>
    {{ expandedRow.first_name }} {{ expandedRow.last_name }}
  </h3>

  <form class="expanded-details-form">
    <mat-accordion>

      <!-- Personal Info -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Personal Information</mat-panel-title>
        
        </mat-expansion-panel-header>
        <div class="action-buttons">
          <button mat-stroked-button (click)="enableEditing()" *ngIf="!isEditing">Edit</button>
          <button mat-raised-button  (click)="saveChanges()" *ngIf="isEditing">Save</button>
        </div>
        <div class="form-grid">
          <div class="form-field">
            <label>First Name:</label>
            <input type="text" [(ngModel)]="expandedRow.first_name" name="first_name" [readonly]="!isEditing" class="output-field"/>
          </div>

          <div class="form-field">
            <label>Last Name:</label>
            <input type="text" [(ngModel)]="expandedRow.last_name" name="last_name" [readonly]="!isEditing" class="output-field"/>
          </div>

          <div class="form-field">
            <label>Date of Birth:</label>
            <input type="date" 
            [ngModel]="expandedRow.dob | date:'yyyy-MM-dd'" 
            (ngModelChange)="expandedRow.dob = $event" 
            name="dob"
            [readonly]="!isEditing" 
            class="output-field">
          </div>

          <div class="form-field">
            <label>Gender:</label>
            <input type="text" [(ngModel)]="expandedRow.gender" name="gender" [readonly]="!isEditing" class="output-field"/>
          </div>

          <div class="form-field">
            <label>Email:</label>
            <input type="email" [(ngModel)]="expandedRow.email" name="email" [readonly]="!isEditing" class="output-field"/>
          </div>

          <div class="form-field">
            <label>Phone Number:</label>
            <input type="text" [(ngModel)]="expandedRow.phone_number" name="phone_number" [readonly]="!isEditing" class="output-field"/>
          </div>
        </div>
      </mat-expansion-panel>

      <!-- Address -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Address</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="action-buttons">
          <button mat-stroked-button  (click)="enableEditing()" *ngIf="!isEditing">Edit</button>
          <button mat-raised-button  (click)="saveChanges()" *ngIf="isEditing">Save</button>
        </div>
        <div class="form-grid">
          <div class="form-field">
            <label>Street:</label>
            <input type="text" [(ngModel)]="expandedRow.address.street" name="street" [readonly]="!isEditing" class="output-field"/>
          </div>

          <div class="form-field">
            <label>City:</label>
            <input type="text" [(ngModel)]="expandedRow.address.city" name="city" [readonly]="!isEditing" class="output-field"/>
          </div>

          <div class="form-field">
            <label>State:</label>
            <input type="text" [(ngModel)]="expandedRow.address.state" name="state" [readonly]="!isEditing" class="output-field"/>
          </div>

          <div class="form-field">
            <label>Postal Code:</label>
            <input type="text" [(ngModel)]="expandedRow.address.postal_code" name="postal_code" [readonly]="!isEditing" class="output-field"/>
          </div>

          <div class="form-field">
            <label>Country:</label>
            <input type="text" [(ngModel)]="expandedRow.address.country" name="country" [readonly]="!isEditing" class="output-field"/>
          </div>
        </div>
      </mat-expansion-panel>

      <!-- Medication Info -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Medication Information</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="action-buttons">
          <button mat-stroked-button  (click)="enableEditing()" *ngIf="!isEditing">Edit</button>
          <button mat-raised-button  (click)="saveChanges()" *ngIf="isEditing">Save</button>
        </div>
        <div class="form-grid">
          <div class="form-field">
            <label>Vaccine Name:</label>
            <input type="text" [(ngModel)]="expandedRow.vaccinename" name="vaccinename" [readonly]="!isEditing" class="output-field"/>
          </div>
          <div class="form-field">
            <label>Dosage Form:</label>
            <input type="text" [(ngModel)]="expandedRow.dosageform" name="dosageform" [readonly]="!isEditing" class="output-field"/>
          </div>
          <div class="form-field">
            <label>Vaccine Date:</label>
            <input type="date" [(ngModel)]="expandedRow.vaccinedatepicker" name="vaccinedatepicker" [readonly]="!isEditing" class="output-field"/>
          </div>
        </div>
      </mat-expansion-panel>

      <!-- Medical History -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Medical History</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="action-buttons">
          <button mat-stroked-button  (click)="enableEditing()" *ngIf="!isEditing">Edit</button>
          <button mat-raised-button  (click)="saveChanges()" *ngIf="isEditing">Save</button>
        </div>
        <div class="form-grid">
          <div class="form-field" *ngFor="let field of medicalFields">
            <label>{{ field.label }}:</label>
            <input type="text" [(ngModel)]="expandedRow[field.key]" [name]="field.key" [readonly]="!isEditing" class="output-field"/>
          </div>
        </div>
      </mat-expansion-panel>

    </mat-accordion>


  </form>
</div>
