
 
.example-button-container {
    display: flex;
    gap: 10px;
    /* justify-content: start; 
    align-items: center; */
    align-items: flex-start;
justify-content: flex-start;
    margin-top: 10px; 
  }
  .example-button-container button {
    background-color: rgba(0, 0, 0, 0.53); 
   color: white; 
    border-radius: 50%; 
    width: 40px; 
    height: 40px; 
   align-items: center;
    justify-content: center;
    
  }

  .vaccine-form-container {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;

  } 

   .additional-vaccine-container {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    gap: 20px; 
    padding: 8px; 
    border-radius: 8px;
   margin-bottom: 10px; 
  }
  
 
.additional-vaccine-container h4 {
  margin: 0;
  white-space: nowrap; 
  font-size: 15px;
  font-weight: bold;
}
  .additional-vaccine-container p {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
    min-width: 250px;
    text-align:left;
  }
   

  
  