<mat-horizontal-stepper #stepper>
  <mat-step [stepControl]="myForm" errorMessage="Name is required.">
    <form [formGroup]="myForm">
      <ng-template matStepLabel>Provide your key details</ng-template>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>First Name :</mat-label>
          <input matInput formControlName="first_name" />

          <mat-error *ngIf="myForm.get('first_name')?.hasError('required')">
            First Name is required
          </mat-error>

          <mat-error *ngIf="myForm.get('first_name')?.hasError('firstLetter')">
            {{ myForm.get("first_name")?.getError("firstLetter") }}
          </mat-error>

          <mat-error *ngIf="myForm.get('first_name')?.hasError('invalidInput')">
            {{ myForm.get("first_name")?.getError("invalidInput") }}
          </mat-error>

          <mat-error *ngIf="myForm.get('first_name')?.hasError('specialChars')">
            {{ myForm.get("first_name")?.getError("specialChars") }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Last Name :</mat-label>
          <input matInput formControlName="last_name" />

          <mat-error *ngIf="myForm.get('last_name')?.hasError('required')">
            Last Name is required
          </mat-error>

          <mat-error *ngIf="myForm.get('last_name')?.hasError('firstLetter')">
            {{ myForm.get("last_name")?.getError("firstLetter") }}
          </mat-error>

          <mat-error *ngIf="myForm.get('last_name')?.hasError('invalidInput')">
            {{ myForm.get("last_name")?.getError("invalidInput") }}
          </mat-error>

          <mat-error *ngIf="myForm.get('last_name')?.hasError('specialChars')">
            {{ myForm.get("last_name")?.getError("specialChars") }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Date Of Birth:</mat-label>
          <input matInput [matDatepicker]="datepicker" formControlName="dob" />
          <mat-datepicker-toggle
            matSuffix
            [for]="datepicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #datepicker></mat-datepicker>

          <mat-error *ngIf="myForm.get('dob')?.hasError('required')">
            Date of Birth is required
          </mat-error>
          <mat-error *ngIf="myForm.get('dob')?.hasError('futureDate')">
            {{ myForm.get("dob")?.getError("futureDate") }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender">
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
            <mat-option value="Other">Other</mat-option>
          </mat-select>

          <mat-error *ngIf="myForm.get('gender')?.hasError('required')">
            Please select gender
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Blood_group:</mat-label>
          <mat-select formControlName="bloodgroup">
            <mat-option value="A+">A+</mat-option>
            <mat-option value="A-">A-</mat-option>
            <mat-option value="B+">B+</mat-option>
            <mat-option value="B-">B-</mat-option>
            <mat-option value="O+">O+</mat-option>
            <mat-option value="O-">O-</mat-option>
            <mat-option value="AB+">AB+</mat-option>
            <mat-option value="AB-">AB-</mat-option>
          </mat-select>
          <mat-error *ngIf="myForm.get('bloodgroup')?.hasError('required')">
            bloodgroup is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>ID :</mat-label>
          <input matInput formControlName="id" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Height</mat-label>
          <input
            matInput
            type="text"
            placeholder="e.g., 170 cm"
            (input)="onHeightChange($event)"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Weight</mat-label>
          <input
            matInput
            type="text"
            placeholder="e.g., 65 kg"
            (input)="onWeightChange($event)"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email :</mat-label>
          <input
            matInput
            placeholder="User@gmail.com"
            formControlName="email"
          />

          <mat-error *ngIf="myForm.get('email')?.hasError('required')">
            Email is required
          </mat-error>

          <mat-error
            *ngIf="myForm.get('email')?.hasError('invalidEmailFormat')"
          >
            Please enter a valid email address
          </mat-error>
        </mat-form-field>

        <div class="phone-input-container">
          <mat-form-field appearance="outline" class="country-code-input">
            <mat-select
              
              formControlName="countryCode"
            >
              <mat-option
                *ngFor="let country of myCountryCodesObject"
                [value]="'+' + country.countryCallingCode"
              >
                {{ country.countryNameEn }} (+{{ country.countryCallingCode }})
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="phone-number-input">
            <mat-label>Phone Number</mat-label>
            <input
              matInput
              type="tel"
              formControlName="phone_number"
              maxlength="10"
              placeholder="9876542310"
            />
            <mat-error *ngIf="myForm.get('phone_number')?.hasError('required')">
              Phone number is required
            </mat-error>

            <mat-error
              *ngIf="myForm.get('phone_number')?.hasError('invalidCharacters')"
            >
              {{ myForm.get("phone_number")?.getError("invalidCharacters") }}
            </mat-error>

            <mat-error
              *ngIf="myForm.get('phone_number')?.hasError('invalidLength')"
            >
              {{ myForm.get("phone_number")?.getError("invalidLength") }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="action-btns">
        <button mat-flat-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="myForm" errorMessage="Address is required.">
    <form [formGroup]="myForm">
      <ng-template matStepLabel>Provide your address.</ng-template>

      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label> Address:</mat-label>
          <input matInput formControlName="Address" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label> Street:</mat-label>
          <input matInput formControlName="street" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label> Postal code:</mat-label>
          <input matInput formControlName="postal_code" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Country:</mat-label>
          <mat-select
            formControlName="country"
            (selectionChange)="onCountryChange($event.value)"
          >
            <mat-option
              *ngFor="let country of countries"
              [value]="country.isoCode"
            >
              {{ country.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="myForm.get('country')?.hasError('required')"
            >Country is required</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>State</mat-label>
          <mat-select
            formControlName="state"
            (selectionChange)="onStateChange($event.value)"
          >
            <mat-option *ngFor="let state of states" [value]="state.isoCode">
              {{ state.name }}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="myForm.get('state')?.hasError('required')"
            >State is required</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>City</mat-label>
          <mat-select formControlName="city">
            <mat-option *ngFor="let city of cities" [value]="city.name">
              {{ city.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="myForm.get('city')?.hasError('required')"
            >City is required</mat-error
          >
        </mat-form-field>
      </div>

      <div class="action-btns">
        <button mat-stroked-button matStepperPrevious>Back</button>
        <button mat-flat-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="myForm" errorMessage="Name is required.">
    <ng-template matStepLabel>Medication Information</ng-template>

    <form [formGroup]="myForm">
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Vaccine Name</mat-label>
          <input matInput formControlName="vaccinename" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Dosage Form</mat-label>
          <input matInput formControlName="dosageform" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Date of Vaccine Taken</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="vaccinedatepicker"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div
        *ngFor="let field of additionalFields; let i = index"
        class="additional-fields-row"
      >
        <div [formControlName]="'additional_' + i">
          <mat-form-field appearance="outline">
            <mat-label>Vaccine Name{{ i + 1 }}</mat-label>
            <input matInput />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Dosage form {{ i + 1 }}</mat-label>
            <input matInput />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Date of Vaccine Taken{{ i + 1 }}</mat-label>
            <input matInput />
          </mat-form-field>
        </div>
      </div>
      
      <div class="example-button-container">
        <button
          mat-mini-fab
          color="black"
          (click)="addFields()"
          aria-label="Add More Fields"
        >
          <mat-icon>plus_one</mat-icon>
        </button>
        <button mat-mini-fab color="black" (click)="removeFields()" aria-label="Remove Fields">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
       

      <div class="action-btns">
        <button mat-stroked-button matStepperPrevious>Back</button>
        <button mat-flat-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="myForm" errorMessage="Medical history required.">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <ng-template matStepLabel>Medical History</ng-template>

      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Do you have a chronic illness? (Yes/No)</mat-label>
          <input matInput formControlName="hasChronicIllness" />
        </mat-form-field>
        <div
          *ngIf="
            myForm.get('hasChronicIllness')?.value?.toLowerCase() === 'yes'
          "
        >
          <mat-form-field appearance="outline">
            <mat-label>Please specify your chronic illness</mat-label>
            <input matInput formControlName="chronicIllnessDetails" />
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Do you have any allergies? (Yes/No)</mat-label>
          <input matInput formControlName="hasAllergies" />
        </mat-form-field>
        <div *ngIf="myForm.get('hasAllergies')?.value?.toLowerCase() === 'yes'">
          <mat-form-field appearance="outline">
            <mat-label>Please specify your Allergies</mat-label>
            <input matInput formControlName="allergyDetails" />
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline">
          <mat-label
            >Are you currently taking any medications?(Yes/No)</mat-label
          >
          <input matInput formControlName="hasmedications" />
        </mat-form-field>
        <div
          *ngIf="myForm.get('hasmedications')?.value?.toLowerCase() === 'yes'"
        >
          <mat-form-field appearance="outline">
            <mat-label>If yes, please list them</mat-label>
            <input matInput formControlName="medicationsDetails" />
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline">
          <mat-label
            >Have you had any serious illnesses or
            infections?(Yes/No)</mat-label
          >
          <input matInput formControlName="hasillnesses" />
        </mat-form-field>
        <div *ngIf="myForm.get('hasillnesses')?.value?.toLowerCase() === 'yes'">
          <mat-form-field appearance="outline">
            <mat-label>If yes, please specify</mat-label>
            <input matInput formControlName="illnessesDetails" />
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Do you have any physical disabilities (Yes/No)</mat-label>
          <input matInput formControlName="hasPhysicalDisabilities" />
        </mat-form-field>
        <div
          *ngIf="
            myForm.get('hasPhysicalDisabilities')?.value?.toLowerCase() ===
            'yes'
          "
        >
          <mat-form-field appearance="outline">
            <mat-label>If yes, please specify</mat-label>
            <input matInput formControlName="mentalhealthDetails" />
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Have you ever had any surgeries(Yes/No)</mat-label>
          <input matInput formControlName="hassurgeries" />
        </mat-form-field>
        <div *ngIf="myForm.get('hassurgeries')?.value?.toLowerCase() === 'yes'">
          <mat-form-field appearance="outline">
            <mat-label>If yes, please specify</mat-label>
            <input matInput formControlName="surgeriesDetails" />
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline">
          <mat-label
            >Have you ever been hospitalized for any reason(Yes/No)</mat-label
          >
          <input matInput formControlName="hashospitalized" />
        </mat-form-field>
        <div
          *ngIf="myForm.get('hashospitalized')?.value?.toLowerCase() === 'yes'"
        >
          <mat-form-field appearance="outline">
            <mat-label>If yes, please specify</mat-label>
            <input matInput formControlName="hospitalizedDetais" />
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Do you have any dietary restrictions ? (Yes/No)</mat-label>
          <input matInput formControlName="hasDietaryRestrictions" />
        </mat-form-field>
        <div
          *ngIf="
            myForm.get('hasDietaryRestrictions')?.value?.toLowerCase() === 'yes'
          "
        >
          <mat-form-field appearance="outline">
            <mat-label>If yes, please specify</mat-label>
            <input matInput formControlName="dietaryRestrictionsDetails" />
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline">
          <mat-label
            >Do you have any other medical concerns ?(Yes/No)</mat-label
          >
          <input matInput formControlName="hasmedicalconditions" />
        </mat-form-field>
        <div
          *ngIf="
            myForm.get('hasmedicalconditions')?.value?.toLowerCase() === 'yes'
          "
        >
          <mat-form-field appearance="outline">
            <mat-label>If yes, please specify</mat-label>
            <input matInput formControlName="medicalconditionsDetails" />
          </mat-form-field>
        </div>
      </div>

      <div class="action-btns">
        <button mat-stroked-button matStepperPrevious>Back</button>
        <button mat-flat-button color="primary" matStepperDone>Submit</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
