<!-- <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="EX. search" #input>
  </mat-form-field>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
   
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Position </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <ng-container matColumnDef="vaccineName">
      <th mat-header-cell *matHeaderCellDef> Vaccine Name </th>
      <td mat-cell *matCellDef="let element"> {{element.vaccineName}} </td>
    </ng-container>
  

    <ng-container matColumnDef="vaccinetype">
        <th mat-header-cell *matHeaderCellDef> Vaccine type </th>
        <td mat-cell *matCellDef="let element"> {{element.vaccinetype}} </td>
      </ng-container>

      <ng-container matColumnDef="expirydate">
        <th mat-header-cell *matHeaderCellDef> expiry Date </th>
        <td mat-cell *matCellDef="let element"> {{element. expirydate}} </td>
      </ng-container>
                                         
      <ng-container matColumnDef="producationdate">
        <th mat-header-cell *matHeaderCellDef> Producation Date </th>
        <td mat-cell *matCellDef="let element"> {{element. producationdate}} </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
  </table>
  
 -->
