/* You can add global styles to this file, and also import other style files */
 @import "@angular/material/prebuilt-themes/indigo-pink.css"; 
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family:'Times New Roman', Times, serif;
 
}

* {
  box-sizing: border-box;
  padding: 0; 
 margin: 0;  
}

.wrapper {
  max-width: 1200px;
  margin-inline: auto;
}
form{
   /* max-width: 900px; */
  margin-inline: auto;
}

.form-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  gap:0.5rem 1.5rem;
}

.phone-input-container {
  display: flex;
}
.country-code-input {
  max-width: 120px;
}

.phone-number-input {
  flex-grow: 1;
}


.action-btns{
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.5rem;
}

.mat-step-text-label{
  font-weight:bold;
  font-size: small;
}

.review-section {
    
  padding: 20px;
  border-radius: 10px;
   margin: auto;
  font-family: 'Times New Roman', Times, serif;}

.review-section h3 {
  background: linear-gradient(90deg, hwb(208 53% 0% / 0.237), hsl(192, 67%, 94%));
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
 
.personal-info {
display: flex;
flex-wrap: wrap;
gap: 20px; 
}

.personal-info p {
flex: 1 1 calc(33.33% - 20px); 
margin: 5px 0;
font-size: 16px;
font-weight: 500;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
background-color: #fff; 
}

.personal-info p.phone {
width: 100px;
font-size: 16px;
font-weight: 500;
padding: 10px;
border-radius: 5px;
align-items: center;
}


/* this css of vaccine manufacturer details and reciepent details */

.table-container {
  width: 100%;
  max-width: 100%;
  overflow-x: auto; /* Enables horizontal scrolling if needed */
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  /* background-color: #3f51b5;  */
  background: linear-gradient(90deg, hwb(208 53% 0% / 0.237), hsl(192, 67%, 94%));

  color: white;
  text-transform: uppercase;
}

td {
  font-size: 14px;
  color: #333;
}

.mat-form-field {
  width: 100%;
  max-width: 300px; /* Restricts input width */
  margin-bottom: 15px;
}

.mat-row:nth-child(even) {
  background-color: #f9f9f9; /* Alternating row colors */
}

.mat-row:hover {
  background-color: #e3f2fd;
}

.mat-paginator {
  background: white;
  border-radius: 5px;
}

/* Center the "No data matching" message */
.mat-row.mat-no-data-row td {
  text-align: center;
  font-weight: bold;
  color: #d32f2f;
  font-size: 16px;
}



